{% extends 'base.html' %}
{% block main %}

    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <h3>Listagem de produtos</h3>
            <ul class="list-group">
                {% for obj in object_list %}
                    <li class="list-group-item">
                        <a href="{% url 'produto_update' obj.id %}">{{ obj|title }}</a>
                        <a href="{% url 'produto_delete' obj.id %}" class="trash-item">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>

                {% endfor %}
            </ul>

            <br>

            <a href="{% url 'produto_create' %}" class="btn btn-primary"> Novo produto</a>

        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{user.username }}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">Sair</span>
                    </a>
                </p>

            {% endif %}
        </div>


    </div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock%}